
/* Custom CSS For New Fields */
.label-ayaz {
	font-weight: bold;
    display: inline-block;
    margin-right: 8px;
    width: 145px !important;
    text-align: right !important;
}


















